---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Introduction from '../components/Introduction.astro';
import Creations from '../components/Creations.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Loopstudios Landing Page">
	<main>
		<Hero />
		<Introduction />
		<Creations />
	</main>
	<Footer />
</Layout>
